<div class="badges">

{{ if .Site.Params.fdroid }}
<a href="https://f-droid.org/packages/{{ .Site.Params.fdroid }}/" target="_blank">
  {{ if .Site.Params.selfHosted }}
  <img src="../img/get-it-on-fdroid.png" alt="Get it on F-Droid" height="80"/>
  {{ else }}
  {{ if (in .Site.Data.fdroidLanguages (lower .Lang)) }}
  {{ $.Scratch.Set "fdroidLang" (lower .Lang) }}
  {{ else }}
  {{ $.Scratch.Set "fdroidLang" "en" }}
  {{ end }}
  <img src="https://fdroid.gitlab.io/artwork/badge/get-it-on-{{ $.Scratch.Get "fdroidLang" }}.png" alt="Get it on F-Droid" height="80"/>
  {{ end }}
</a>
{{ end }}

{{ if .Site.Params.googleplay }}
<a href="https://play.google.com/store/apps/details?id={{ .Site.Params.googleplay }}/" target="_blank">
  {{ if .Site.Params.selfHosted }}
  <img src="../img/en-play-badge.png" alt="Get it on Google Play" height="80"/>
  {{ else }}
  {{ if (in .Site.Data.googlePlayLanguages (lower .Lang)) }}
  {{ $.Scratch.Set "googlePlayLang" (lower .Lang) }}
  {{ else }}
  {{ $.Scratch.Set "googlePlayLang" "en" }}
  {{ end }}
  <img src="https://play.google.com/intl/en_us/badges/images/generic/{{ $.Scratch.Get "googlePlayLang" }}_badge_web_generic.png" alt="Get it on Google Play" height="80"/>
  {{ end }}
</a>
{{ end }}

{{ if .Site.Params.github }}
<a href="https://github.com/{{ .Site.Params.github }}" target="_blank">
  <img src="../img/view-on-github.png" alt="View on GitHub" height="80"/>
</a>
{{ else if (in .Site.BaseURL ".github.io/") }}
{{ $groupname := (index (split (index (split .Site.BaseURL "/") 2) ".") 0) }}
{{ $projectname := (index (split .Site.BaseURL "/") 3) }}
<a href="https://github.com/{{ $groupname }}/{{ $projectname }}" target="_blank">
  <img src="../img/view-on-github.png" alt="View on GitHub" height="80"/>
</a>
{{ end }}

{{ if .Site.Params.gitlab }}
<a href="https://gitlab.com/{{ .Site.Params.gitlab }}" target="_blank">
  <img src="../img/view-on-gitlab.svg" alt="View on GitLab" height="80"/>
</a>
{{ else if (in .Site.BaseURL ".gitlab.io/") }}
{{ $groupname := (index (split (index (split .Site.BaseURL "/") 2) ".") 0) }}
{{ $projectname := (index (split .Site.BaseURL "/") 3) }}
<a href="https://gitlab.com/{{ $groupname }}/{{ $projectname }}" target="_blank">
  <img src="../img/view-on-gitlab.svg" alt="View on GitLab" height="80"/>
</a>
{{ end }}

</div>
