<section class="page-header">
  <h1 class="project-name">
    {{ $titleFile := (path.Join .Site.Params.fastlaneDir .Site.LanguageCode "title.txt") }}
    {{ if (fileExists $titleFile) }}
    {{ readFile $titleFile | markdownify }}
    {{ else }}
    {{ .Title | default "title does here"| markdownify }}
    {{ end }}
  </h1>
  <h2 class="project-tagline">
    {{ $subtitleFile := (path.Join .Site.Params.fastlaneDir .Site.LanguageCode "short_description.txt") }}
    {{ if (fileExists $subtitleFile) }}
    {{ readFile $subtitleFile | markdownify }}
    {{ else }}
    {{ $.Site.Params.short_description | default "Params.short_description goes here" | markdownify }}
    {{ end }}
  </h2>
  <nav>
    {{ $current := . }}
    {{ range .Site.Menus.nav }}
      {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
      {{ $active = or $active (eq .Name $current.Title) }}
      {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "post")) }}
      {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
      <a href="{{ .URL }}" class="btn">{{ .Name }}</a>
    {{ end }}
  </nav>
    {{ if .Site.IsMultiLingual }}
  <link rel="stylesheet" href="/css/navbar.css" />
  <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right" style="list-style-type: none;">
      {{ if ge (len .Site.Languages) 3 }}
        <li class="navlinks-container">
          <a class="navlinks-parent">{{ index $.Site.Data.languageNames $.Site.Language.Lang }}</a>
          <div class="navlinks-children">
            {{ range .Site.Languages }}
            {{ if not (eq .Lang $.Site.Language.Lang) }}
            <a href="/{{ .Lang }}" lang="{{ .Lang }}">{{ index $.Site.Data.languageNames .Lang }}</a>
            {{ end }}
            {{ end }}
          </div>
        </li>
      {{ else }}
        <li>
          {{ range .Site.Languages }}
        {{ if not (eq .Lang $.Site.Language.Lang) }}
          <a href="/{{ .Lang }}" lang="{{ .Lang }}">{{ index $.Site.Data.languageNames .Lang }}</a>
        {{ end }}
          {{ end }}
        </li>
	{{ end }}
	</ul>
      </div>
      </nav>
    {{ end }}
</section>
